<!-- Common imports for all examples -->
<link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
<link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
<link rel="import" href="../../iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../paper-styles/default-theme.html">
<link rel="import" href="../../elements-demo-resources/common.html">

<!-- Menu Items -->
<script>
  window.demos = [
    {name: 'index', title: 'Basic Examples'},
    {name: 'advanced', title: 'Advanced Usage'}
  ];
</script>
<link rel="import" href="../../elements-demo-resources/demo-navigation.html">

<!-- The component to demo -->
<link rel="import" href="../quark-date-picker.html">
<link rel="import" href="../quark-date-picker-light.html">
